@import '../../../variable.scss';


.section-G {
    &-details {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        color: $primary-color;
    }

    &-main {
        padding-top: 20px;
    }

    &-block {
        margin-bottom: 50px;
        h1 {
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            color: $primary-color;
            text-transform: uppercase;
        }
    }
}

.section-G-main {
    table {
        border-collapse: collapse;
        overflow: auto;
        width: 100%;

        thead {
            position: sticky;
            top: calc(90px - 2.5px);
            z-index: 100;
        }

        th, td {
            height: 30px;
            font-size: 13px;
            vertical-align: middle;
            line-height: 1.5;
        }

        th {
            border: .1px solid white;
            background-clip: content-box;
            background-color: $primary-color;
            color: white;
            font-weight: 700;
            white-space: nowrap;
        }

        td {
            border: .5px solid black;
            color: black;
            position: relative;
            text-align: center;
            padding-top: 2px;
            padding-bottom: 2px;

            h4 {
                display: block;
                color: inherit;
                font-weight: inherit;
                font-size: inherit;
            }

            > input {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 20px;

                appearance: none;
                -webkit-appearance: none;
                height: 20px;
                width: 20px;
                background-color: $button-color;
                cursor: pointer;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                    
                &:after {
                    font-size: 12px;
                    content: '\e64c';
                    font-weight: 900;
                    font-family: 'themify';
                    -webkit-font-smoothing: antialiased;
	                -moz-osx-font-smoothing: grayscale;
                    color: white;
                    display: none;
                }

                &:checked {
                    background-color: $primary-color;

                    &:after {
                        display: block;
                    }
                }
            }
        }

        tr.title {
            td {
                padding-left: 10px;
                font-weight: 700;
                height: 45px;
                background: white;
                text-align: left;
            }

            &.sticky {
                position: sticky;
                top: calc(150px - 2.5px);
                z-index: 100;
            }

            &.cursorPointer:hover {
                td {
                    color: $primary-color;
                }
            }
        }

        .addBtn {
            > button {
                width: 100%;
                height: 100%;
                border: none;
                background-color: transparent;
                font-weight: 600;
                color: $primary-color;
                opacity: 0.4;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.section-G-create {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    &Main {
        position: relative;
        width: 950px;
        max-width: 90vw;
        background-color: white;
        padding: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;

        h1 {
            font-size: 32px;
            color: $primary-color;
        }

        form {
            width: 100%;

            .flexGroup {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
            }

            .formGroup {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                min-height: 40px;

                label {
                    text-align: left;
                }

                input {
                    height: 30px;
                    width: 60%;
                    border: 1.5px solid $primary-color;
                    padding: 5px;
                }

                input[type=checkBox] {
                    width: 20%;
                    appearance: none;
                    -webkit-appearance: none;
                    height: 25px;
                    width: 25px;
                    background-color: $button-color;
                    cursor: pointer;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    border-radius: 0px;

                    &:after {
                        content: '\e64c';
                        font-weight: 900;
                        font-family: 'themify';
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        color: white;
                        display: none;
                    }
    
                    &:hover {
                        background-color: $gray-color;
                    }
    
                    &:checked {
                        background-color: $primary-color;
    
                        &:after {
                            display: block;
                        }
                    }
                }
            }

            .flexStart {
                align-items: flex-start;
            }

            .subject {
                width: 30%;
                padding: 5px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                
                h4 {
                    color: $primary-color;
                    font-weight: 500;
                    font-size: 20px;
                }

                ul {
                    width: 100%;
                }

                li {
                    text-align: center;
                    height: 26px;
                    width: 100%;
                }

                div.btn {
                    width: 100%;
                    height: 26px;
                    background: transparent;
                    border: .5px solid $button-color;
                    color: $button-color;
                    cursor: pointer;

                    &:hover {
                        border: .5px solid $primary-color;
                        color: $primary-color;
                        opacity: 0.8;
                    }
                }
            }
        }

        & .navigate {
            display: flex;
            justify-content: center;
            gap: 45px;

            > button {
                width: 150px !important;
                height: 40px !important;
                background: $primary-color !important;
                opacity: 1 !important;
                border-radius: 5px;
                color: white !important;
                border: none !important;

                &:hover {
                    opacity: 0.8 !important;
                }

                &.delete {
                    background: $highlight-color !important;
                }
            }
        }
    }
}

#searchBox {
    width: 100%;
    min-height: 18px;
    position: absolute;
    top: 40px;
    z-index: 20;
    background-color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);

    ul {
        padding: 5px 10px;
    }

    li {
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;

        div {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            height: 18px;
            align-items: center;

            h4 {
                font-size: inherit;
                font-weight: inherit;
            }

            h4:nth-child(2) {
                color: #888;
            }
        }

        &:hover {
            background-color: $button-color;
        }
    }
}

.section-G-deleteBtn {
    background-color: $highlight-color;
}

.section-G-tienQuyet {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;

    .box {
        position: relative;
        width: 95%;
        margin: 0 auto;
        background: white;
        padding: 25px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .flexGroup {
            width: 100%;
        }
    }
}

.section-G-nav {
    position: fixed;
    z-index: 100;
    bottom: 25px;
    right: 25px;

    .icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        border-radius: 50%;
        opacity: 0.4;
        color: white;
        cursor: pointer;
    }
}

.section-G-summary {
    position: fixed;
    z-index: 100;
    bottom: 100px;
    right: 25px;
    width: 450px;

    background: white;
    opacity: 0.9;
    padding: 5px;

    table {
        width: 100%;
        border-collapse: collapse;
        
        th, td {
            font-size: 13px;
            height: 20px;
            border: .5px solid $primary-color;
        }

        th {
            background-color: $primary-color;
            color: white;
        }

        td {
            text-align: center;
        }
    }
}