@import '../../../variable.scss';

.section-B-main {
    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        color: $primary-color;
        padding-bottom: 15px;
    }

    textarea {
        width: 100%;
        height: 250px;
        resize: none;
        padding: 25px;
        overflow: auto !important;
        line-height: 18px;
        border: none;
        background-color: $gray-color;
        font-size: 13px;
        font-weight: 400;
    }
}