@import '../../variable.scss';

.section {
    padding-bottom: 75px;
    padding-top: 35px;
}

.section-header {
    padding-bottom: 25px;
    h1 {
        font-weight: 700;
        font-size: 22px;
        line-height: 44px;
        align-items: center;
        color: $primary-color;
        border-bottom: 1.5px solid #C7C5C5;
    }
}