@import '../../../variable.scss';

.section-D {
    &-details {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        color: $primary-color;
    }

    &-main {
        padding-top: 20px;
    }

    &-block {
        margin-bottom: 15px;
        h1 {
            position: sticky;
            top: calc(90px - 1.95px);
            background-color: white;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $primary-color;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                color: $highlight-color;
            }
        }
    }

    &-section {
        h2 {
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

.section-D-containt {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 15px;

    .element {
        width: 100%;
        display: grid;
        grid-template-columns: calc((100% - 90px) * 0.1) calc((100% - 90px) * 0.7) calc((100% - 90px) * 0.2) 30px;
        min-height: 30px;
        padding-bottom: 5px;
        column-gap: 20px;
        border-bottom: 1.5px solid $button-color;
        align-items: center;

        &-question {
            i {
                font-size: 25px;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h4, label, input, textarea, span{
            font-size: 13px;
            height: 100%;
            display: flex;
            align-items: center;
        }

        input, textarea, span {
            min-height: 90%;
            border: none;
            background-color: $gray-color;
            padding: 10px 25px;
            resize: vertical;
            display: block;
            overflow: hidden;
            height: auto;
        }

        button {
            height: 100%;
            width: 30px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary-color;
            border-radius: 5px;

            &.minus {
                background-color: $highlight-color;
            }

            i {
                color: white;
                font-size: 16px;
            }
        }
    }
}